<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlynhahang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyNhaHang">


        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity
            android:name=".FoodTableActivity"
            android:theme="@style/PopUpActivyti" />
        <activity android:name=".ActivityRegister"></activity>
        <activity android:name=".AddFoodMenu"></activity>
        <activity android:name=".TableFixAcitvity"
            android:theme="@style/PopUpActivyti"></activity>
        <activity android:name=".AddMenuType"
            android:label="@string/setMenuType"
            android:theme="@style/PopUpActivyti">
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>